<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code_utsav19</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container sticky-top navbar-container">
          <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" style="background-color: white">
              <div class="container">
                  <a class="brand-title js-scroll-trigger" href="#header">
                      <img style="height: 80px" src="https://cdn.dribbble.com/users/375867/screenshots/1403176/rocket-booster-logo-template-dribbble-preview.png">
                  </a>
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item dropdown">
                              <!-- <a class="nav-link js-scroll-trigger" href="#about" style="font-size: 18px;color: #737373">&ensp;ABOUT&ensp;</a> -->
                              <a class="nav-link dropdown-toggle nav-link js-scroll-trigger " style="font-size: 18px;color: #737373" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">LISTING</a>
                              <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Startup</a>
                              <a class="dropdown-item" href="#">Mentor</a>
                              <a class="dropdown-item" href="#">Investor</a>

                          </div></li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle nav-link js-scroll-trigger " style="font-size: 18px;color: #737373" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CREATE PROFILE</a>
                              <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Startup</a>
                              <a class="dropdown-item" href="#">Mentor</a>
                              <a class="dropdown-item" href="#">Investor</a>
                          </div></li>
                          <li class="nav-item">
                              <a class="nav-link js-scroll-trigger" href="#tracks" style="font-size: 18px;color: #737373"> INCUBATOR </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link js-scroll-trigger" href="#schedule" style="font-size: 18px;color: #737373"> ABOUT US </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link js-scroll-trigger" href="#sponsors" style="font-size: 18px;color: #737373"> CONTACT </a>
                          </li>

                      </ul>
                  </div>
              </div>
          </nav>
      </div>
