<% if(!currentUser){ %>
    <h3>Login </h3>
    <div>
        <a href="/login">Login</a>
    </div>
    <div>
        <a href="/facebook">Login using fb</a>
    </div>
    <div>
        <a href="#">login using google</a>
    </div>
    <div>
        <a href="#">login using linkeedin</a>
    </div>
    <div>
        <a href="/register">Register</a>
    </div>
<% }else{ %>
    <div>
        <a href="/logout">Logout</a>
    </div>
<% } %>
<div>
    <a href="/investors/new">Register for inventors</a>
</div>

<h3>Invextors name</h3>
<div>
    <% investor.forEach(function(inves){ %>
        <li><%= inves.name %></li>
    <% }); %>
</div>

    

