<form method="POST" action="/register">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="123*****">
    <input type="submit">
</form>