<% include ../partials/header.ejs %>
<div class="container">


<div class="jumbotron">
  <h2>Interested to invest in businesses like wellness, travel, IT or electronics</h2>


</div>
<div class="row">
<div class="col-sm-8">



<div class="shrt-desc tp-border Platinum">
                          <div class="investor-tag" >
                            <img src="https://i.ytimg.com/vi/xgULq4ZmXg8/maxresdefault.jpg" alt="Investor-Tag" style="width:100px;height:40px;">
                          </div>
                      </div>
                    <h4><b>Name, Mobile, Company Logo, Profile Picture, Email</b></h4>
                    <p>Available after Interaction</p><br>
<h4><b>Location :</b></h4><br>
<h4><b>Investor type :</b></h4><br>
<h4><b>Name of Company :</b></h4><br>
<h4><b>Introduction of Company :</b></h4><br>
<h4><b> Investment capacity:</b></h4><br>


</div>
<div class="col-sm-4" style="background-color:lavenderblush;">

<div class="container">
<h2>Contact Investor</h2>

<div class="form group row">
<div class="col-sm-2">
  <label>Designation :<font color="red">*</font> :</label></div>
  <div class="col-sm-2">
  <input type="text" name="user" class="form-control" id="user"></div>
  </div>
  <br>
<div class="form group row">
  <div class="col-sm-2">
    <label>Mobile:<font color="red">*</font> :</label></div>
    <div class="col-sm-2">
    <input type="text" name="user" class="form-control" id="user"></div>
    </div>  <br>
    <div class="form group row">
    <div class="col-sm-2">
      <label>Email :<font color="red">*</font> :</label></div>
      <div class="col-sm-2">
      <input type="text" name="user" class="form-control" id="user"></div>
      </div>  <br>
      <div class="form group row">
      <div class="col-sm-2">
        <label>Company :<font color="red">*</font> :</label></div>
        <div class="col-sm-2">
        <input type="text" name="user" class="form-control" id="user"></div>
        </div>  <br>
        <div class="form group row">
        <div class="col-sm-2">
          <label>Investment Type:<font color="red">*</font> :</label></div>
          <div class="col-sm-2">
          <input type="text" name="user" class="form-control" id="user"></div>
          </div>  <br>
          <div class="form group row">
          <div class="col-sm-2">
            <label>Profile Type :<font color="red">*</font> :</label></div>
            <div class="col-sm-2">
            <input type="text" name="user" class="form-control" id="user"></div>
            </div>  <br>
            <input type="text" class="text-center" placeholder="comment" style="width: 300px">
            <br><br>
            <input type="submit" name="submit" value="Contact Investor" class="btn btn-primary btn-lg"><br>

</div>
</div>
</div>


</div>
<% include ../partials/footer.ejs %>
